body {
    background-color: white;
}

#face_asset {
    position: absolute;
}

#debug_box {
    position: absolute;
}

#debug_color {
    display: block;
    width: 150px;
    height: 150px;
    background-color: blue;
}