body {
    background: linear-gradient(to left top, blue, red) fixed;
}

#face_asset {
    position: absolute;
}

#face_asset:hover {
    cursor: pointer;
}

#debug_box {
    position: absolute;
}

#debug_color {
    display: block;
    width: 150px;
    height: 150px;
    background-color: purple;
}