#mobile-warning {
    display: none;
    text-align: center;
    color: white;
}

#background {
	position: absolute;
	background-image: linear-gradient(45deg, rgb(44, 0, 211), rgb(44, 211, 211));
	z-index: -999;
	width: 100%;
	height: 100%;
}

#win_message {
	display: none;
	position: absolute;
	font-size: 100px;
	color: white;
}

#face_asset {
	position: absolute;
}

#face_asset:hover {
	cursor: pointer;
}

#debug_box {
	position: absolute;
}

#debug_color {
	display: block;
	width: 150px;
	height: 150px;
	background-color: purple;
}

#emoji-text {
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	font-size: 35px;
	color: white;
	user-select: none;
}

#face_asset {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

#info_text {
	margin: 1em;
}

#info_button {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 3em;
	cursor: pointer;
	filter: invert(100%) opacity(50%);
}

#info_button:hover {
	filter: invert(70%) opacity(100%);
}

#info_ok_btn {
    border: none;
}

#footer {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#footer:hover {
    animation: shake 0.5s;
	animation-iteration-count: infinite;
}